:local(.credentials) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    .loginInputs {
        align-self: flex-start;
        margin-left: 20%;
    }

    li {
        margin: 20px 0px 20px 0px;
        list-style-type: none;
    }

    button {
        margin: 20px 0px 20px 0px;
    }
}