:local(.flashcardDisplay) {

  height: 275px;
  
  .flashcardDetail {
    background-color: rgb(208, 208, 208);
    height: 260px;
    overflow-wrap: break-word;
  }

  .question {
    padding: 20px 0px 0px 5px;
  }

  .answer {
    padding: 40px 0px 0px 5px;
  }

  .flip-button-front {
    align-self: auto;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 60px;
    cursor: pointer;
  }
  
  .flip-button-back {
    align-self: auto;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 60px;
    cursor: pointer;
  }
  
  #close-button {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}